## Imports

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import math
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import datetime
import pickle
import calendar
from folium.plugins import HeatMapWithTime
import seaborn as sns
import numpy as np
import gmplot

In [2]:
#set .head() to show all columns and rows if run

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Load Data

In [3]:
# Load file

data = pd.read_csv('./data/df_2013_formatted_with_zip.csv')

In [4]:
data.head(1)

,index_left,zip,event_num,call_re,comp_num,shift,tc,tc_desc,tc_suff,tc_suff_desc,disp_code,disp_desc,block,st_name,unit_disp,sect,zone,rpa,lat,Longitude,map_loc,month,day,geometry
0,0.0,37115.0,PD201300025100,2013-01-07 12:15:00,20130018665,A,50,Theft,TV,NaN,1,M.P.D. REPORT COMPLED,500,STAR BLVD,723A,M,23.0,1739,36.288,-86.721,"(36.288, -86.721)",1,7,POINT (-86.721 36.288)

In [5]:
data.shape

(1211710, 24)

# Formatting

In [6]:
# Set event column to datetime

#data['call_re'] = pd.to_datetime(data['call_re'])

## Dropping Rows w/ Locations Outside of Tennessee

In [7]:
# remove Sperry AR location seen in set

new_df = data.drop(data[data['lat'] == 34.153].index)

In [8]:
new_df.shape

(403444, 24)

In [9]:
#remove any default locations in set
new_df = new_df.drop(data[data['lat'] == 0].index)

In [10]:
new_df.shape

(403444, 24)

In [11]:
#remove any Atlantic Ocean locations in set
new_df = new_df.drop(data[data['lat'] == -2.283].index)

## Confirm Dataframe has been updated

In [12]:
new_df.shape

(403444, 24)

In [13]:
new_df.to_csv('./data/df_2013_format_zip_in_TN')