In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import math
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import datetime
import pickle
import calendar
from folium.plugins import HeatMapWithTime
import seaborn as sns
import numpy as np
import gmplot

In [5]:
#set .head() to show all columns and rows if run

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [6]:
data = pd.read_csv('./data/pop-by-zip-code.csv')

In [7]:
data.head()

   zip_code  y-2016  y-2015  y-2014  y-2013  y-2012  y-2011  y-2010  aggregate
0       601   17800   17982   18088   18450   18544   18533   18570     127967
1       602   39716   40260   40859   41302   41640   41930   41520     287227
2       603   51565   52408   53162   53683   54540   54475   54689     374522
3       606    6320    6331    6415    6591    6593    6386    6615      45251
4       610   27976   28328   28805   28963   29141   29111   29016     201340

In [8]:
data.tail()

,zip_code,y-2016,y-2015,y-2014,y-2013,y-2012,y-2011,y-2010,aggregate
33115,99923,0,13,12,81,77,116,87,386
33116,99925,908,826,728,668,673,689,819,5311
33117,99926,1667,1711,1622,1630,1624,1488,1460,11202
33118,99927,81,123,131,111,75,67,94,682
33119,99929,2385,2365,2354,2341,2361,2321,2338,16465

In [9]:
data.shape

(33120, 9)

In [10]:
data = data[data['zip_code'] <= 38589]

In [11]:
data.shape

(12529, 9)

In [12]:
data = data[data['zip_code'] >= 37010]

In [13]:
data.shape

(628, 9)

In [14]:
data.to_csv('./data/tn_zip_population.csv')